
body { 
    font-family: 'Lato', sans-serif; 
    font-size:16px; 
    background-color: #505050; 
}
.mainHead {
    height:110px;
    background-color: #ffffff;
}
.clLogo { 
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
}
.topPanel { width:100%; height:50px; background-color:#383838; position:relative; }
.topPanel i { position:absolute; top:-20px; left:80%; font-size:3rem; color:#383838; }
.topPanel p { padding:15px 0 0 20px;  }
#topPanel { margin:0; position:relative; }

.bannerContainer { padding:0; }

#bottomPanel {
  margin:0;
}
.bodyC {
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
}